@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    background-color: rgb(46, 53, 61);
    font-family: 'Roboto',sans-serif;
    color: white;
}
a:visited{
    color: #ffffff;
}
.card{
    margin-left: 0.5%;
    color: black !important;
    background-color: rgba(207, 235, 251, 1);
}
#soundWave{
    margin-left: 16.5%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
}
#filePath{
    visibility: hidden;
}
#canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
}
#form{
    display: block;
    visibility: hidden;
}
#leftChannel{
    width: 15%;
    position: fixed;
    top:11%;
}
#rightChannel{
    width: 15%;
    position: fixed;
    top:27%;
}
button{
    background-color:transparent;
    border-color:transparent;
    color: white;
}